{% extends "base.html" %}
{% block title %}السكان السابقين{% endblock %}
{% block content %}
    <h1>السكان السابقين</h1>
    <a href="{{ url_for('export_archived_tenants') }}" class="btn btn-info mb-3">تصدير إلى Excel</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>اسم الساكن</th>
                <th>رقم السجل المدني</th>
                <th>رقم الجوال</th>
                <th>تاريخ استلام الوحدة السكنية</th>
                <th>تاريخ اخلاء الوحدة السكنية</th>
                <th>القطاع</th>
                <th>الحي</th>
                <th>الوحدة</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            {% for tenant in tenants %}
                <tr>
                    <td>{{ tenant.name }}</td>
                    <td>{{ tenant.tenant_id }}</td>
                    <td>{{ tenant.mobile }}</td>
                    <td>{{ tenant.start_date }}</td>
                    <td>{{ tenant.eviction_date }}</td>
                    <td>{{ tenant.workplace }}</td>
                    <td>{{ tenant.cluster }}</td>
                    <td>{{ tenant.villa }}</td>
                    <td>
                        <a href="{{ url_for('edit_tenant', tenant_id=tenant.id) }}" class="btn btn-primary btn-sm">تعديل</a>
                        <form action="{{ url_for('unarchive_tenant', tenant_id=tenant.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-success btn-sm">إلغاء الاخلاء</button>
                        </form>
                        <form action="{{ url_for('delete_archived_tenant', tenant_id=tenant.id) }}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
                            <button type="submit" class="btn btn-danger btn-sm">حذف</button>
                        </form>
                        
                        <script>
                        function confirmDelete() {
                            return confirm('هل أنت متأكد أنك تريد حذف هذا الساكن؟');
                        }
                        </script>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}